@page "/counter"

  
 <h1 class="form h4 text-center">Contacto</h1>
<br/>
<p class="form-control">Desarrollador :Bryan Mejia Ruiz</p>
<p class="form-control">Correo: bmr1919@hotmail.com</p>
<p class="form-control">GitHub: BMR27</p>



<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br/>
<br />
<br />
<br />
<br />
<br />

<footer class="page-footer font-small blue pt-4">

    <div class="footer-copyright text-center py-3" style="background-color:blueviolet" >
        © 2020 Copyright Ingeniero Bryan Mejia Ruiz. Todos los derechos Reservados.
        <a href="https://github.com/BMR27?tab=repositories"> </a>
    </div>
    <!-- Copyright -->

</footer>          