@page "/"

    
        <h1 class="form-text h2 text-center">Sistema de Inventario Warehouse</h1>


        <div class="container">
            <p class="float-right">
                <span class="" style="font-size:60px"> </span>
            </p>
            <p class="form-control h3 text-center">
                Bienvenido a tu Sistema de Inventariado
            </p>

            <div>
                <h1 class="form-control h3 text-center">Vision y Mision de esta App</h1>
                <p>
                    

                    Está diseñado para ofrecerle el mejor desempeño y la mayor productividad partiendo de una interfaz
                    intuitiva y practica que facilitara a usted y a su personal
                    realizar las tareas diarias de su empresa sin complicaciones.
                    Este menú es completamente personalizable ya que le permite a usted como usuario administrador ocultar
                    y bloquear el acceso a los usuarios vendedores a las tareas administrativas y financieras como los módulos
                    de caja, devoluciones, gastos, crédito o históricos de venta, de esta manera usted podrá
                    lograr un mejor aprovechamiento de sus recursos humanos y evitar pérdidas de efectivo, mercancía, etc.
                </p>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        
        </div>

        <footer class="page-footer font-small blue pt-4">

            <div class="footer-copyright text-center py-3" style="background-color:blueviolet">
                © 2020 Copyright Ingeniero Bryan Mejia Ruiz. Todos los derechos Reservados. 
                <a href="https://github.com/BMR27?tab=repositories"> </a>
            </div>
            <!-- Copyright -->

        </footer>
    
