@page "/product/create"

<CreateProductComponent/>

<footer class="page-footer font-small blue pt-4">

    <div class="footer-copyright text-center py-3" style="background-color:blueviolet">
        © 2020 Copyright Ingeniero Bryan Mejia Ruiz. Todos los derechos Reservados.
        <a href="https://github.com/BMR27?tab=repositories"> </a>
    </div>
    <!-- Copyright -->

</footer>